.cakes__container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #114f5a;
  background: #f7f8fb;
  height: 100vh;
}

.card__container {
  border: 1px solid #114f5a;
  border-radius: 25px;
  margin: 10px 30px;
  padding: 10px;
  width: 300px;
  background: #ffffff;
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card__item {
  margin: 15px 10px;
}
.card__price {
  margin: 15px 10px;
  color: #c49450;
}
.card__buy_btn {
  color: #f7f8fb;
  background: #114f5a;
  padding: 10px;
  border-radius: 45px;
  width: 90px;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
}

.cakes__title {
  text-align: center;
  margin: 20px 0;
}
