.todo__body {
  width: 95%;
  margin: 0 auto;
}

.todo__formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__form {
  display: inline-block;
  margin: 20px 0;
  border: 1px solid teal;
  border-radius: 5px;
  padding: 30px;
}
.todo__form input[type='text'] {
  padding: 5px 3px;
  margin: 5px;
}

.save__btn {
  padding: 10px;
  margin: 10px 20px;
  outline: none;
  cursor: pointer;
  min-width: 70px;
  border: none;
  border-radius: 45px;
}
.create__btn {
  padding: 10px;
  margin: 10px 20px;
  border-radius: 45px;
  color: white;
  background: #1b87bd;
  outline: none;
  cursor: pointer;
  min-width: 70px;
  border: none;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.todo__deleteButton {
  margin: 0 10px;
  padding: 10px;
  border-radius: 45px;
  color: white;
  background: rgb(204, 53, 53);
  outline: none;
  cursor: pointer;
  border: none;
  width: 70px;
}
.todo__deleteButton:hover {
  background: rgb(243, 137, 137);
}

.todo__nothing {
  text-align: center;
}
.todo__sortSelect {
  margin: 0 10px;
  padding: 3px;
}

.todo__editButton {
  padding: 0 5px;
  cursor: pointer;
  background: #1b87bd;
  padding: 10px;
  color: white;
  width: 70px;
  border-radius: 45px;
  border: none;
}

.hotkey {
  position: absolute;
  right: 20px;
  top: 5px;
  border: 1px solid teal;
  padding: 2px 10px;
}

.text_input {
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  border: 2px solid #2f2c45;
  background: #272530;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s;
  color: #fff;
}

.todo__user {
  margin: 20px 10px;
  display: block;
}

.todos__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
