.navbar__linkItem {
  text-decoration: none;
  margin: 0 15px;
  color: black;
  font-size: 18px;
  transition: 0.5s;
  text-transform: uppercase;
}
.navbar__linkItem:hover {
  color: rgb(136, 136, 136);
}

.navbar__lang {
  display: inline !important;
  position: absolute;
  right: 40px;
  cursor: pointer;
}

.navbar__langItem {
  margin: 0 0 0 10px;
}
.navbar__langItem:hover {
  text-decoration: underline;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 15px;
  padding: 15px 0 0;
}
