.navbar__linkItem {
  text-decoration: none;
  margin: 0 15px;
  color: black;
  font-size: 18px;
  transition: 0.5s;
  text-transform: uppercase;
}
.navbar__linkItem:hover {
  color: rgb(136, 136, 136);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
