@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Merriweather, serif;
}

.footer {
  display: flex;
  padding: 10px;
  align-items: flex-end;
  background: #333333;
}

.timer {
  margin: 10px 0;
  text-align: center;
  border-top: 1px solid black;
  padding: 10px;
}

.footer span {
  margin: 5px 20px;
  color: #e8c1b5;
}
.footer a {
  text-decoration: none;
  color: #e8c1b5;
  cursor: pointer;
}

.footer a:hover {
  color: #797676;
}
.todo__item {
  border: 1px solid teal;
  position: relative;
  display: flex;
  padding: 10px;
  margin: 10px 0;
  transition: 0.2s;
}
.todo__item p {
  margin: 0 10px;
}

.todo__item.active {
  border: 2px solid red;
  display: flex;
  padding: 10px;
  margin: 10px 0;
  transition: 0.2s;
}

.loader__container {
  display: flex;
  justify-content: center;
}
.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px dashed black;
  animation: rotate 1s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.4);
  }
}

@media (max-width: 800px) {
  .footer {
    display: flex;
    padding: 20px 0;
    align-items: flex-end;
    background: #333333;
    font-size: 0.9rem;
  }

  .footer span {
    margin: 0 10px;
    color: #e8c1b5;
  }
  .footer a {
    text-decoration: none;
    color: #e8c1b5;
    cursor: pointer;
  }

  .footer a:hover {
    color: #797676;
  }
}
