@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Merriweather, serif;
}

.footer {
  display: flex;
  padding: 10px;
  align-items: flex-end;
  background: #333333;
}

.footer span {
  margin: 5px 20px;
  color: #e8c1b5;
}
.footer a {
  text-decoration: none;
  color: #e8c1b5;
  cursor: pointer;
}

.footer a:hover {
  color: #797676;
}
